.list-component-wrapper {
    text-align: center;
}

.list-item {
    border: 1px solid black;
    padding-top:1rem;
    padding-bottom: 1rem;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.submenu-closed {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0s;
}

.submenu-open {
    display: block;
    max-height: 200px;
}