
.main-content-wrapper {
    font-family: 'Roboto', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
}

.main-loading {
    font-size: 2rem;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-color {
    color: darkgreen;
}

.confirm-color:hover {
    color: lightgreen;
}

.edit-button {
    color: gray;
}

.edit-button:hover{
    color: lightgray;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hand-cursor {
    cursor: pointer;
    cursor: hand;
}